HAM_API_KEY=your-harvard-art-museums-api-key

# Run the following to get projectID:
# gcloud auth application-default login
# gcloud projects list
GOOGLE_CLOUD_PROJECT=your-gcp-project-id
GOOGLE_CLOUD_LOCATION=us-central1

SUPABASE_URL=https://your-project-id.supabase.co
SUPABASE_SERVICE_KEY=your-supabase-service-role-key
